n8n text extract.json
{
  "name": "n8n text extract",
  "nodes": [
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        784,
        32
      ],
      "id": "9b204ad8-2d13-4c97-bda6-1d282cbf23d6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyDoUg9kljAGbXOlCT81vTkFzL487CBalMQ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application /json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"请从图片中提取全部文本和人物内容。严格按照图片中的原有格式和排版进行输出。输出中不得包含任何额外的说明文字、解释、前言、后请或图片中不存在的符号，只输出截图的提取结果。\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 65536\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        32
      ],
      "id": "edb0bbf3-30f9-48d3-8e88-e77d21c9da85",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tmOhoxbpKlQQsSq9xxZ2JVx_kuvLKB7kfzzsoXQUBBk",
          "mode": "list",
          "cachedResultName": "ocr-txt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmOhoxbpKlQQsSq9xxZ2JVx_kuvLKB7kfzzsoXQUBBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmOhoxbpKlQQsSq9xxZ2JVx_kuvLKB7kfzzsoXQUBBk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidates",
              "displayName": "candidates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usageMetadata",
              "displayName": "usageMetadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelVersion",
              "displayName": "modelVersion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "responseId",
              "displayName": "responseId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1280,
        32
      ],
      "id": "ce842c95-962b-4d56-b884-f38ed00415a4",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PrnkCFneBZS0lpEN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3b985579-35a7-4e58-97eb-fdbcd6c3f14f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        512,
        32
      ],
      "id": "d87c394b-2f3b-4af5-bd4f-1068d173e459",
      "name": "Webhook",
      "webhookId": "3b985579-35a7-4e58-97eb-fdbcd6c3f14f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1520,
        32
      ],
      "id": "04250bbc-e130-442e-88c3-bff10f85f8f0",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71c6e3d6-7161-4809-b2e7-9414e4d5604f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33d04132fa1b6bed015d663217696326fbe66384d256a5f6f0345161017347eb"
  },
  "id": "07kwQ4WBNytTc1Tn",
  "tags": []
}